.front-background {
    background-color: #8A19D6;
    padding-top: 50px;
    padding-bottom: 300px;
}

.text{
    color: #FFFF; 
}
.icon{
    border-radius: 25;
}
.body {
    background-image: url('bg.jpeg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .login{
    float :right;
    opacity: 60%;
  }
